@import "colors";
@import "shadows";

$brand-color: $orange-6;
$hover-color: $orange-5;
$active-color: $orange-7;

$main-text-color: #000000e0;
$secondary-text-color: #000000a6;
$disabled-text-color: #00000040;
$border-color: $gray-5;
$divider-color: #0505050f;
$bg-color-grey: $gray-3;
$bg-color-white: $gray-1;

$shadow-1: $shadow-1-down;
$shadow-2: $shadow-2-down;
$shadow-3: $shadow-3-down;
